<table class="table">
    <tr>
    <tbody>
    <tr>
      <td>Количество персон на</td>
      <td>{{ product.Number_of_person_on_the }}</td>
   </tr>
   <tr>
    <td>Артикул</td>
    <td>{{ product.Article_number }}</td>
   </tr>
   <tr>
    <td>Цвет</td>
    <td>{{ product.Colour }}</td>
   </tr>
   <tr>
    <td>Упаковка</td>
    <td>{{ product.Packaging }}</td>
   </tr>
   <tr>
    <td>Коллекция</td>
    <td>{{ product.Collection }}</td>
   </tr>
    <tr>
    <td>Материал</td>
    <td>{{ product.Material }}</td>
   </tr>
    <tr>
    <td>Страна производитель</td>
    <td>{{ product.Country_of_origin }}</td>
   <tr>
  </tbody>
</table>